:root {
  --First: #212121;
  --second: #757575;
  --third: #ffffff;
  --link: #2196f3;
  --bgp: rgba(47, 48, 58, 0.8);
  --bgp-features: #f5f4fa;
  --bgp-footer: #2f303a;
}

body {
  color: var(--second);
}

h2,
h3 {
  color: var(--First);
  margin: 0px;
  padding: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
.header {
  width: 1600px;
  height: 81px;
  margin-bottom: 6px;
  display: flex;
}
.header-logo {
  width: 153px;
  height: 31px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-left: 215px;
  margin-top: 24px;
}
.header > nav {
  display: flex;
}

.nav-menu {
  display: flex;
  padding: 0px;
  width: 294px;
  height: 48px;
  margin-left: 85px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.studio {
  width: 49px;
  height: 48px;
}
.portfolio {
  width: 77px;
  height: 48px;
  margin-left: 50px;
}
.contact {
  width: 68px;
  height: 48px;
  margin-left: 50px;
}
.header-logo,
.footer-logo {
  color: var(--link);
}
.logo-studio {
  color: #000000;
}
.logo-studio-footer {
  color: var(--third);
}
.nav-email {
  display: inline-block;
  margin-left: 305px;
  margin-top: 32px;
  width: 135px;
  height: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-tel {
  display: inline-block;
  margin-left: 30px;
  margin-top: 32px;
  width: 142px;
  height: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.address-contact {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  margin: 0px;
}
.header-backgroup {
  width: 1600px;
  height: 600px;
  background-image: url(../images/header-img.jpg);
}
.backgroup-img {
  width: 100%;
  height: 600px;
  background: rgba(47, 48, 58, 0.8);
}
.content-text {
  width: 646px;
  height: 104px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-button-text {
  display: inline-block;
  margin-left: 223px;
  margin-top: 46px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.content-button-text:hover,
.content-button-text:focus {
  background-color: rgba(0, 0, 0, 0.25);
  color: var(--link);
}
.features {
  width: 1170px;
  height: 251px;
  margin-left: 215px;
  margin-top: 87px;
  display: flex;
  padding: 0px;
  margin-bottom: 0px;
}
.antena {
  width: 270px;
  height: 251px;
}
.antena-li {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.antena-li img {
  width: 70px;
  height: 70px;
  margin-left: 100px;
  margin-top: 25px;
}
.antena-li:hover,
.antena-li:focus {
  background-color: var(--link);
}
.detal {
  width: 270px;
  height: 16px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.detal-p {
  width: 270px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.clock {
  width: 270px;
  height: 251px;
  margin-left: 30px;
}
.clock-li {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.clock-li:hover,
.clock-li:focus {
  background-color: var(--link);
}
.clock-li img {
  width: 70px;
  height: 70px;
  margin-left: 100px;
  margin-top: 25px;
}
.punctuality {
  width: 270px;
  height: 16px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.punctuality-p {
  width: 270px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.diagram {
  width: 270px;
  height: 251px;
  margin-left: 30px;
}
.diagram-li {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.diagram-li:hover,
.diagram-li:focus {
  background-color: var(--link);
}
.diagram-li img {
  width: 70px;
  height: 70px;
  margin-left: 100px;
  margin-top: 25px;
}
.plan {
  width: 270px;
  height: 16px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.plan-p {
  width: 270px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.astro {
  width: 270px;
  height: 251px;
  margin-left: 30px;
}
.astro-li {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.astro-li:hover,
.astro-li:focus {
  background-color: var(--link);
}
.astro-li img {
  width: 70px;
  height: 70px;
  margin-left: 100px;
  margin-top: 25px;
}
.tehno {
  width: 270px;
  height: 16px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.tehno-p {
  width: 270px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.first {
  display: inline-block;

  color: var(--First);
}
.first:hover,
.first:focus {
  color: var(--link);
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}
.overlay {
  width: 646px;
  height: 200px;
  padding-top: 200px;
  margin-left: 477px;
}
.overlay h1 {
  color: var(--third);
}
.invisible {
  display: none;
}
.nav-email,
.nav-tel {
  color: var(--second);
}
.nav-tel:hover,
.nav-tel:focus {
  color: var(--link);
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}
.nav-email:hover,
.nav-email:focus {
  color: var(--link);
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}
.worck {
  width: 1170px;
  height: 386px;
  margin-left: 283px;
  margin-top: 144px;
}
.worck > ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.worck > h2 {
  width: 377px;
  height: 42px;
  margin-left: 397px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.worck1 {
  width: 370px;
  height: 294px;
}
.bg-worck1 {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 283px;
  top: 1485px;
  background-color: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.worck2,
.worck3 {
  width: 370px;
  height: 294px;
  margin-left: 30px;
}
.bg-worck2 {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 683px;
  top: 1485px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.bg-worck3 {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 1083px;
  top: 1485px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.team {
  width: 1600px;
  height: 702px;
  margin-top: 138px;

  background: #f5f4fa;
}
.team-h2 {
  padding-top: 94px;
  width: 265px;
  height: 42px;
  margin-left: 668px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team > ul {
  display: flex;
  flex-direction: row;
  margin: 50px 0px 0px 0px;
  padding: 0px;
}
.john {
  width: 270px;
  height: 422px;
  margin-left: 215px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.john > h3 {
  width: 87px;
  height: 19px;
  margin: 30px 0px 0px 92px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.john > p {
  width: 133px;
  height: 19px;
  margin: 10px 0px 0px 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Блок для соц.сетей */
.john > ul {
  margin: 16px 0px 0px 32px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.john li:not(:first-child) {
  margin-left: 11px;
}
.marta {
  width: 270px;
  height: 422px;
  margin-left: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.marta > h3 {
  width: 109px;
  height: 19px;
  margin: 30px 0px 0px 81px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.marta > p {
  width: 150px;
  height: 19px;
  margin: 10px 0px 0px 62px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.marta > ul {
  width: 207px;
  height: 44px;
  margin: 16px 0px 0px 32px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.marta li:not(:first-child) {
  margin-left: 11px;
}
.robert {
  width: 270px;
  height: 422px;
  margin-left: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.robert > h3 {
  width: 97px;
  height: 19px;
  margin: 30px 0px 0px 87px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.robert > p {
  width: 76px;
  height: 19px;
  margin: 10px 0px 0px 97px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.robert > ul {
  display: flex;
  flex-direction: row;
  margin: 16px 0px 0px 32px;
}
.robert li:not(:first-child) {
  margin-left: 11px;
}
.martin {
  width: 270px;
  height: 422px;
  margin-left: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.martin > h3 {
  width: 85px;
  height: 19px;
  margin: 30px 0px 0px 93px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.martin > p {
  width: 89px;
  height: 19px;
  margin: 10px 0px 0px 92px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.martin > ul {
  display: flex;
  flex-direction: row;
  width: 207px;
  height: 44px;
  margin: 16px 0px 0px 32px;
}
.martin li:not(:first-child) {
  margin-left: 11px;
}
/* Фильтр второй страницы */
.filter {
  color: var(--First);
}
.filter:hover,
.filter:focus {
  color: var(--third);
  background-color: var(--link);
}
.link2 p {
  color: var(--second);
}

.color-white {
  color: var(--third);
}
/* .overlay span {
  background-color: var(--link);
} */
footer {
  background-color: var(--bgp-footer);
}
.prof {
  background-color: var(--bgp);
}
#address a {
  color: var(--second);
}
#address a:hover,
#address a:focus {
  color: var(--link);
}
.index {
  color: var(--third);
}
.clients a:hover,
.client a:focus {
  background-color: var(--link);
}
.site a {
  color: var(--second);
}
.site a:hover,
.site:focus {
  color: var(--third);
  background-color: var(--link);
}
